%h1 Vending machines

%table
  - @vending_machines.each do |vending_machine|
    %tr
      %td= link_to vending_machine.serial_number, vending_machine
      %td= link_to 'Show', vending_machine_path(vending_machine), { class: "btn btn-mini" }

%br

= link_to 'New Vending machine', new_vending_machine_path, class: "btn btn-primary"
