%nav
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid

        = link_to "TuxyMat", root_path, { class: "brand" }
        
        %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        - if user_signed_in?
          .nav-collapse.collapse
            %ul.nav{ role: "navigation" }
              %li
                = link_to VendingMachine.model_name.human.pluralize, vending_machines_path
              
            %p.navbar-text.pull-right
              = link_to t('devise.sign_out'), destroy_user_session_path, method: :delete, class: "navbar-link"
            